.yang-card-div{
    background: #fff;
    width: 600px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 3px 1px #00000030;
}

.yang-first{
    width: 100%;
    height: 11%;
    background-color: #22B573;
}

.yang-content{
    width: 90%;
    height: 78%;
    margin: auto;
    padding: 10px 0;
}

.yang-last{
    width: 100%;
    height: 11%;
    background-color: #22B573;
}


.yang-list{
    margin: 10px 0;
}
.yang-list .yang-circle{
    display: inline-block;
    background-color: #22B573;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    vertical-align: middle;
}

.yang-list .yang-circle img{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.yang-list p{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-left:10px;
    color: black;
}

@media (max-width: 1024px) {
    .yang-card-div{
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 20px auto;
        box-sizing: border-box;
    }
}